@media(min-width:0px) {
    .four {
        padding-top: 100px;
    }

    .text {
        font-size: 30px;
        padding-bottom: 310px;
    }

        .text ul li h1 {
            font-family: 'Dosis', sans-serif;
        }

        .text ul li h3 {
            font-family: 'Dosis', sans-serif;
        }
}
